# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
*.log

# Node
node_modules/
dist/
.env.local
.npm/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/
