services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=prop_user
      - POSTGRES_PASSWORD=prop_pass
      - POSTGRES_DB=prop_db
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - static_volume:/app/static
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - SECRET_KEY=dev_secret_key_change_in_prod
      - ALLOWED_HOSTS=localhost,127.0.0.1,backend
      - DATABASE=postgres
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=prop_db
      - SQL_USER=prop_user
      - SQL_PASSWORD=prop_pass
      - SQL_HOST=db
      - SQL_PORT=5432
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - db
      - redis

  celery_worker:
    build: ./backend
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
    environment:
      - DEBUG=1
      - SECRET_KEY=dev_secret_key_change_in_prod
      - ALLOWED_HOSTS=localhost,127.0.0.1,backend
      - DATABASE=postgres
      - SQL_ENGINE=django.db.backends.postgresql
      - SQL_DATABASE=prop_db
      - SQL_USER=prop_user
      - SQL_PASSWORD=prop_pass
      - SQL_HOST=db
      - SQL_PORT=5432
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - db
      - redis
      - backend

  frontend:
    build: ./frontend
    volumes:
      - static_volume:/app/static
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres_data:
  static_volume:
